{% extends "base.html" %}

{% block title %}User Profile - Movie Ranker{% endblock %}

{% block content %}
    <h1>User Profile</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <p>Username: {{ user.username }}, First name: {{ user.first_name }}, Last name: {{ user.last_name }}</p>
    {% else %}
        <p>Please log in to access your account.</p>
    {% endif %}

    <!-- Navigation Links -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'subscribe' %}">Subscribe</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- <h2>Premium Subscription</h2>
    <p>Upgrade to premium to unlock advanced features and unlimited access to movies.</p>
    <form method="post" action="{% url 'subscribe' %}">
        {% csrf_token %}
        <button type="submit">Subscribe to Premium</button>
    </form> -->
{% endblock %}

